.label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  grid-gap: 3px;
}
.select {
  border-radius: 0;
  border: 1px solid #05445e;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 11px 16px;
  border-radius: 5px;
  background: #fff;
  color: #000;
}
