.home-page {
  min-height: 100vh;
  width: 100vw;
  background: #F9F9F9;
}
.header {
  padding: 46px 215px;
  display: flex;
  border-bottom: 2px solid #c8cdcf;
  background: #fff;
}
.header__logo {
  width: 69px;
  height: 67px;
  margin-right: 44px;
}
.header__info__title {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--grey-color);
}
.header__info__subtitle {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: var(--grey-color);
}
.breadcrumb {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: var(--grey-color);
  border-bottom: 2px solid #c8cdcf;
  background: #fff;
  padding: 18px 0;
  margin-bottom: 48px;
}
.breadcrumb__wrapper{
  max-width: 1135px;
  margin: auto;
}
.form{
    max-width: 1135px;
    margin: auto;
    padding: 40px 38px 52px 38px;
    background: #fff;
    margin-bottom: 59px;
}
.form__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--primary-color);
    margin-bottom: 14px;
}
.hr__devider{
    max-width: 1059px;
    border: 1px solid #000000;
    margin-top: 82px;
    margin-bottom: 48px;
}

.form__row1,.form__row3{
    display: grid;
    grid-template-columns: repeat(auto-fill, 340px);
    justify-content: space-between;
    grid-row-gap: 17px;
}
.form__row2{
    display: grid;
    grid-template-columns: 111px 570px 340px;
    justify-content: space-between;
    margin-bottom: 17px;
}
.submit-btn{
  display: block;
  min-width: 155px;
  margin: auto;
  margin-top: 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  background: #75E6DA;
  border: 1px solid #05445E;
  padding: 12px 44px;
  border-radius: 7px;
}

.footer{
  padding: 17px;
  text-align: center;
}